header {
    width: 100.18%;
    height: 100px;
    background-color: rgb(32, 160, 250);
    border: 2px solid rgb(159, 168, 173);
    padding: 5px;
    margin-top: -8px;
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;


}


#logga {

    height: 100px;
    width: 100px;


}

footer {

    width: 99.7%;
    height: 7.9vw;
    background-color: gray;
    margin-top: 10px;
    border: 1px rgb(197, 197, 197);
    padding: 10px;
    margin-top: 10px;
    margin-left: -8px;
    margin-bottom: -50px;
    margin-right: -100px;

}